#main-navbar {
    background-color: white; 
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    /* border-bottom: #0077b6 solid 1px; */
}

#logo {
    color: #20d19e;
    font-size: 20px;
    padding: 15px;
}

body {
    margin: 0;
}

.navbar-option a {
    color: #20d19e; 
    text-decoration: none;
    font-size: 18px; 
    padding: 15px; 
}

.navbar-buttons {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    align-items: center;
}

header {
    color: #20d19e; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-align: center;
    margin-top: 10px;
    padding: 150px 100px 50px 50px;
}

.title {
    color: #20d19e;
    font-size: 2em;
    font-weight: bold;
}

.subtitle {
    color: #20d19e;
    font-size: 1em;
}

.frontend-image {
    padding-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
}

.frontend-image img {
    max-width: 50%;
    height: auto;
    object-fit: contain;
    
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 130px;
    margin-bottom: 100px;
    margin-left: 0;
    margin-right: 0;
}

.title-and-picture {
    border:#20d19e solid 2px;
    border-radius: 13px;
    margin: 0 140px;
    padding: 20px;
    
}

.aboutme-section {
    background-color: #20d19e;
    padding: 50px 50px 300px 50px; 
}

.aboutme-section h2 {
    text-align: center;
}

.aboutme-section p {
    text-align: center;
    padding: 0px 50px; 
}

/*  dark blue: #03045e
    blue: #0077b6
    turqoise: #00b4d8
    light blue: #90e0ef
    baby blue: #caf0f8 
*/ 
