@charset "utf-8";

/* Fonts Import Start */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
/* Fonts Face CSS End */

#codepen-section * {
  margin: 0px;
  padding: 0px;
}

#codepen-section body {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
}

#codepen-section .clear {
  clear: both;
}

#codepen-section img {
  max-width: 100%;
  border: 0px;
}

#codepen-section ul,
#codepen-section ol {
  list-style: none;
}

#codepen-section a {
  text-decoration: none;
  color: inherit;
  outline: none;
  transition: all 0.4s ease-in-out;
}

#codepen-section a:focus,
#codepen-section a:active,
#codepen-section a:visited,
#codepen-section a:hover {
  text-decoration: none;
  outline: none;
}

#codepen-section a:hover {
  color: #e73700;
}

#codepen-section h2 {
  margin-bottom: 48px;
  padding-bottom: 16px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
}

#codepen-section h3 {
  margin: 0 0 10px;
  font-size: 28px;
  line-height: 36px;
}

#codepen-section button {
  outline: none !important;
}

/* title style */
#codepen-section .line-title {
  position: relative;
  width: 60%;
}

#codepen-section .line-title::before,
#codepen-section .line-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
}

#codepen-section .line-title::before {
  width: 100%;
  background: #f2f2f2;
}

#codepen-section .line-title::after {
  width: 32px;
  background: #f4513c;
}

/* Middle section CSS Start */
#codepen-section .game-section {
  padding: 3em 1em;
}

#codepen-section .game-section .owl-stage {
  margin: 15px 0;
  display: flex;
}

#codepen-section .game-section .item {
  margin: 0 15px 60px;
  width: 320px;
  height: 400px;
  display: flex;
  align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

#codepen-section .game-section .item.active {
  width: 500px;
  /* box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25); */
}

#codepen-section .game-section .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

#codepen-section .game-section .item-desc {
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
}

#codepen-section .game-section .item.active .item-desc {
  transform: none;
}

#codepen-section .game-section .item-desc p {
  opacity: 0;
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
}

#codepen-section .game-section .item.active .item-desc p {
  opacity: 1;
  transform: translateY(0);
}

#codepen-section .game-section .owl-theme.custom-carousel .owl-dots {
  margin-top: -20px;
  position: relative;
  z-index: 5;
}

#codepen-section .owl-dot button {
    padding: 0 10px; /* Change 5px to the amount of padding you desire */
}

#codepen-section {
    margin: 0 auto; 
    width: 71%;
    border: 1px solid rgba(124, 124, 124, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.288);
    border-radius: 3%;
  
}

#codepen-section .owl-dots .owl-dot span {
    margin: 0 5px; /* Change 5px to the amount of margin you desire */
}

@media (min-width: 992px) and (max-width: 1199px) {
    #codepen-section h2 {
      margin-bottom: 32px;
    }
    #codepen-section h3 {
      margin: 0 0 8px;
      font-size: 24px;
      line-height: 32px;
    }
  
    /* -------- Landing page ------- */
    #codepen-section .game-section {
      padding: 50px 30px;
    }
    #codepen-section .game-section .item {
      margin: 0 12px 60px;
      width: 260px;
      height: 360px;
    }
    #codepen-section .game-section .item.active {
      width: 400px;
    }
    #codepen-section .game-section .item-desc {
      transform: translateY(calc(100% - 46px));
      -webkit-transform: translateY(calc(100% - 46px));
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    #codepen-section h2 {
      margin-bottom: 32px;
    }
    #codepen-section h3 {
      margin: 0 0 8px;
      font-size: 24px;
      line-height: 32px;
    }
    #codepen-section .line-title {
      width: 330px;
    }
  
    /* -------- Landing page ------- */
    #codepen-section .game-section {
      padding: 50px 30px 40px;
    }
    #codepen-section .game-section .item {
      margin: 0 12px 60px;
      width: 240px;
      height: 330px;
    }
    #codepen-section .game-section .item.active {
      width: 360px;
    }
    #codepen-section .game-section .item-desc {
      transform: translateY(calc(100% - 42px));
      -webkit-transform: translateY(calc(100% - 42px));
    }
  }
  
  @media (min-width: 768px) {

    #codepen-section  {
        width: 87%;
    }

    #codepen-section body {
      font-size: 14px;
    }
    #codepen-section h2 {
      margin-bottom: 20px;
    }
    #codepen-section h3 {
      margin: 0 0 8px;
      font-size: 19px;
      line-height: 24px;
    }
    #codepen-section .line-title {
      width: 250px;
    }
  
    /* -------- Landing page ------- */
    #codepen-section .game-section {
      padding: 30px 15px 20px;
    }
    #codepen-section .game-section .item {
      margin: 0 10px 40px;
      width: 200px;
      height: 280px;
    }
    #codepen-section .game-section .item.active {
      width: 270px;
      /* box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25); */
      -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    }
    #codepen-section .game-section .item-desc {
      padding: 0 14px 5px;
      transform: translateY(calc(100% - 42px));
      -webkit-transform: translateY(calc(100% - 42px));
    }
  }
  