/* GLOBAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    font-family: 'Manrope', sans-serif;
}

/* NAVBAR */ 
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 22vh;
    align-items: center; 
    padding: 0 1.5%; 
}

#logo {
    width: 10em; /* Adjust as needed */
    padding: 0em;
}

#logo img {
    width: 100%;
    height: auto;
    display: block;
}

#navigation {
    display: flex;
    gap: 1em; 
}

#navigation h3 a {
    text-decoration: none; 
    font-weight: 20;
    font-size: 1.25rem;
    padding: 0.5em 1em; 
}

#contact-nav {
    color: #00A0C3;
    border: solid #00A0C3 2px;
    border-radius: 30px;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    margin-right: 1.7em;
}

#contact-nav:hover {
    background-color: #00A0C3;
    color: #FFF;
    border-color: #00A0C3;
}

#projects-nav {
    color: #000
}

/* INITIAL AREA */ 
.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

.welcome-section hr {
    width: 396px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.welcome-section h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
}

.welcome-section h2 {
    text-align: center;
    font-size: 22px;
    font-weight: 230;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 38vh;
}

header h2 {
    margin-bottom: 40px;
}

header img {
    width: 290px;
    height: auto;
}

.digital-art {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.digital-art img {
    width: 1000px;
    height: auto;
}

/* ABOUT ME SECTION */ 
.personal-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 1100px;
    background: linear-gradient(to top, #00A0C3, #007090);
    padding: 0px 207px;
    text-align: center;
    margin-top: 0px;
}

.personal-description h2 {
    padding-top: 153px;
    color: #fff;
    font-size: 40px;
}

.personal-description p {
    padding-top: 38px;
    color: #fff;
    font-size: 26px;
    font-weight: 10;
    line-height: 200%;
}

.personal-description hr {
    width: 546px;
    margin-top: 82px;
    margin-bottom: 20px;
    color: #fff;
}

.description-skills-section {
    position: relative; /* makes the skills-container position relative to this container */
    padding-bottom: 0px; /* creates space at the bottom of personal-description for skills-container */
    height: 1890px;
}

.skills-container {
    position: relative;
    top: -380px; /* Adjust this value to shift the boxes up */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.frontend-box,
.uiux-box {
    display: flex;
    flex-direction: column;
    align-items: center; 
    border: 1px solid rgba(124, 124, 124, 0.2);
    padding: 20px; 
    margin: 0; 
    width: 507px; 
    height: 1015px; 
    text-align: center; 
    background-color: #FFF;
    line-height: 30px;
    
}

.frontend-box {
    border-radius: 14px 0px 0px 14px;
    border-right-width: -0.1em;
    box-shadow: -10px 0px 25px -5px rgba(0, 0, 0, 0.288);
}

.uiux-box {
    border-radius: 0px 14px 14px 0px;
    border-left-width: 0em;
    box-shadow: 10px 0px 25px -5px rgba(0, 0, 0, 0.288);
}

.icon-container {
    width: 100px; /* Size of circle */
    height: 100px; /* Size of circle */
    border-radius: 50%; /* Make it a circle */
    position: relative; /* This allows absolute positioning for children */
    background: #ff725e; /* Change to the color you want */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 0px; 
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the icon */
    width: 60%; /* Adjust as needed */
    height: auto;
    fill: rgb(46, 46, 46); /* The color of the icon */
}


.frontend-box hr,
.uiux-box hr {
    border-color: black 1px; /* change color of horizontal lines */
    width: 225px;
    margin-bottom: 60px;
}

.frontend-box hr {
    margin-top: 94px; 
}

.uiux-box hr {
    margin-top: 34px;
}

.frontend-box ul,
.uiux-box ul {
    list-style-type: none; /* remove bullet points */
    padding: 0; /* remove padding */
    line-height: 36px;
}

.frontend-box h4, 
.uiux-box h4 {
    color: #f4513c; 
    font-weight: bold;
    font-size: 16px;
}

.frontend-box h3, 
.uiux-box h3 {
    padding-bottom: 24px;
}

.frontend-box p, 
.uiux-box p {
    padding: 0px 50px;
}


/* EDUCATION SECTION */
.education-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #FFF, #009fc370, #FFF);
    padding: 0px;
    height: 930px;
    width: auto;
}

.education-section h2 {
    color: #FFF;
    font-size: 46px;
    font-style: bold;
    margin-bottom: 20px;
    padding-top: 80px;
}

.education-section hr {
    margin-bottom: 70px;
    width: 790px;
    height: 2px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 105px; 
    grid-column-gap: 105px; 
    width: auto;
    justify-items: center;
}

.card {
    background: #ffffff;
    width: 454px; 
    height: 244px; 
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.288);
    position: relative;
    perspective: 1000px; /* Required for the 3D effect on flip */
}

.card .card-front,
.card .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.6s ease; /* Animate the opacity property */
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    box-sizing: border-box;
}

.card .card-front {
    background: #ffffff;
    opacity: 1;  /* Initially visible */
    z-index: 2;  /* Initially on top */
}

.card .card-front img {
    width: 170px;
    height: auto;
}

/* CARD BACK */
.card .card-back {
    background: #f8f8f8;
    opacity: 0;  /* Initially hidden */
    z-index: 1;  /* Initially below */
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

#card1-gwu-cs .card-back {
    background: linear-gradient(to top, #a8ff78, #78ffd6);
}

#card2-gwu-ixd .card-back {
    background: linear-gradient(to bottom, #b2fefa, #0ed2f7);
}

#card3-udemy .card-back {
    background: linear-gradient(to bottom, #36d1dc, #5b86e5);
}

#card4-coursera .card-back {
    background: linear-gradient(to bottom, #0cebeb, #20e3b2, #29ffc6);
}

.card-back h3 {
    text-align: center;
}

.card-back p :nth-child(2) {
    text-align: center;
}

.card-back p :nth-child(3) {
    text-align: center;
}

.card:hover .card-front {
    opacity: 0;  /* Hide front side on hover */
}

.card:hover .card-back {
    opacity: 1;  /* Show back side on hover */
}

.resume-button {
    margin-top: 80px;
    margin-bottom: 180px;
    border: 2px solid #00A0C3;
    border-radius: 30px;
    background-color: #FFF;
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.resume-button a {
    text-decoration: none;
    font-size: 17px;
    font-style: bold;
    letter-spacing: 1px;
    color: #00A0C3;
    display: flex; 
    align-items: center; 
    padding: 15px 25px; 
    gap: 15px; 
}

.resume-button svg {
    fill: #00A0C3; 
    width: 1em;
}

.resume-button:hover {
    background-color: #00A0C3;
    border-color: #00A0C3;
}

.resume-button:hover a {
    color: #FFF;
}

.resume-button:hover svg {
    fill: #FFF;
}


/* BOTTOM SECTION */ 
.cta-box {
    position: absolute;
    background-color: #002C35;
    border: 1px solid #002C35;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 0.4fr 0.4fr 0.4fr;
    align-items: center;
    align-self: center;
    width: 90%;
    height: 200px;
    text-align: center;
    z-index: 3;
    gap: 20px;
    padding: 0 30px;
    bottom: 600px;

}

.cta-box h3 {
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
    grid-column: 1;
}

.cta-box p {
    color: #FFF;
    font-size: 15px;
    grid-column: 2;
    line-height: 24px;
}

.cta-box a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
    color: #FFF;
    text-align: center;
    display: flex; /* to align icon and text next to each other */
    align-items: center; /* to vertically align icon and text */
    padding: 17px 35px; 
    gap: 8px; /* to add space between icon and text */
}

.cta-box svg {
    width: 1.5em;
}

.cta-box button  {
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    grid-column: 3;
    justify-self: center;
}

.cta-box button:hover {
    background-color: #FFF;
    border-color: #FFF;
}

.cta-box button a:hover {
    color: #002C35;
    font: bold;
}

.cta-box button a:hover svg {
    fill: #002C35;
}

.cta-box button {
    border: 2px solid #16ecda;
    border-radius: 30px;
    background-color: #002C35;
    letter-spacing: 1px;
}

footer {
    height: 720px;
    background-color: #00A0C3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

footer div {
    margin-top: 180px;
    margin-bottom: 60px;
}

.social-links-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 30px;
}

.social-links {
    border: 1.7px solid #FFF; 
    background-color: #2F2F2F; 
    border-radius: 50px; 
    padding: 14px; 
    margin: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    padding: 10px;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.social-links svg {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    scale: 1.1;
}

.social-links:hover {
    transform: scale(1.1);
    background-color: #FFF;
}

.social-links:hover svg {
    transform: scale(1.1);
    fill: #2F2F2F;
}

a.social-links:link, a.social-links:visited, a.social-links:hover, a.social-links:active {
    text-decoration: none;
}

footer h4 {
    color: #FFF;
    font-size: 17px;
    font-weight: lighter;
    width: 300px;
    text-align: center;
}

.bottom-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
} 

/* Breakpoints: 
        - Mobile (375px) 
        - Tablet (768px) 
        - Desktop (1024px) 
*/

