/* MOBILE FIRST APPROACH: Assuming a starting width of 375px */ 
/* GLOBAL */ 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    font-family: 'Manrope', sans-serif;
}

/* NAVBAR */ 
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%; /* check if this line is necessary */ 
    height: 7em; 
    align-items: center; 
    padding: 0 1.5%; 
}

#logo {
    width: 25%; 
    min-width: 90px; 
}

#logo img {
    width: 100%; /* check if this line is necessary */ 
    min-width: 90px; 
    height: auto;
    display: block;
}

#navigation {
    display: flex;
    gap: 1em; 
}

#navigation h3 a {
    text-decoration: none;
    font-weight: 20;
    font-size: 0.9rem; 
    padding: 0.35em 0.95em; 
}

#contact-nav {
    color: #00A0C3;
    border: solid #00A0C3 0.09rem;
    border-radius: 1.87em;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    margin-right: 1.7em;
}

#contact-nav:hover, 
#contact-nav:focus,
#contact-nav:active {
    background-color: #00A0C3;
    color: #FFF;
    border-color: #00A0C3;
}

#projects-nav {
    display: none; 
    color: #000; 
}

/* INITIAL AREA */ 
.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 38vh; 
    width: 100%; /* check if this line is necessary */ 
    margin-top: 2vh; 
}

.welcome-section h1 {
    text-align: center;
    font-size: 1.3rem; 
    font-weight: 300; 
    max-width: 88%;
    margin-bottom: 3vh; 
}

.welcome-section h2 {
    text-align: center;
    font-size: 0.9rem; 
    font-weight: 280; 
    max-width: 80%;
    margin-top: 1vh;
    margin-bottom: 5vh;
}

.welcome-section img {
    width: 38%; /*check if this is okay because it's an image */ 
    height: auto;
}

.digital-art {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 12vh;
    padding: 0 5vh;
}

.digital-art img {
    width: 100%;
    height: auto;
}

/* ABOUT ME SECTION */ 
.personal-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 60px;
    background: linear-gradient(to top, #00A0C3, #007090);
    text-align: center;
    padding-bottom: 35%;
} 

.personal-description h2 {
    padding-top: 2em;
    color: #fff;
    font-size: 1.9rem; 
    font-weight: 300;
    width: 100%; /* check if this line is necessary */
}

.personal-description p {
    padding: 1.5em 1.5em 1.5em 1.5em; 
    color: #fff;
    font-size: 1rem;
    font-weight: 10;
    line-height: 200%;
}

.personal-description hr {
    width: 40%;
    margin-top: 1.4em;
    margin-bottom: 1.4em; 
    color: #fff;
}

.description-skills-section {
    position: relative; 
    padding-bottom: 0px; 
    width: 100%; /* check if this line is necessary */ 
}

.skills-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 53px; /* this margin compensates for the top attribute on the frontend box */ 
}

.frontend-box,
.uiux-box {
    display: flex;
    flex-direction: column;
    align-items: center; 
    align-self: center;
    border: 1px solid rgba(124, 124, 124, 0.2);
    padding: 1.2em; 
    width: 90%; 
    height: fit-content;
    text-align: center; 
    background-color: #FFF;
    line-height: 2em; 
    border-radius: 14px 14px 14px 14px;
    box-shadow: 0 0 25px -5px rgba(0, 0, 0, 0.288);
    top: -160px;
}

.frontend-box {
    margin-top: 3.7em;
    position: relative;
    margin-bottom: 35px;
}

.icon-container {
    width: 5.8em; 
    height: 5.8em; 
    min-height: 5.8em;
    border-radius: 50%; 
    position: relative; 
    background: #ff725e; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em 0em; 
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 55%; 
    height: auto;
    fill: rgb(46, 46, 46); 
}


.frontend-box hr,
.uiux-box hr {
    border-color: black 1px; 
    width: 30%;
    margin: 2.9em 0;
}

.frontend-box h3, 
.uiux-box h3 {
    padding-bottom: 1.5em;
    font-size: 1.16rem;
}

.frontend-box h4, 
.uiux-box h4 {
    color: #f4513c; 
    font-weight: bold;
    font-size: 1rem;
}

.frontend-box p, 
.uiux-box p {
    padding: 0em 2.8em;
    font-size: 1rem;
}

.frontend-box ul,
.uiux-box ul {
    list-style-type: none; 
    line-height: 2.25em;
    font-size: 1rem;
}

.frontend-box ul :nth-child(10),
.uiux-box ul :nth-child(10){
    margin-bottom: 2em;
}

/* PROJECTS SECTION */ 
#codepen-section {
    margin-top: -50px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.288) !important;
    width: 87% !important;
}

/* EDUCATION SECTION */ 
.education-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #FFF, #009fc370, #FFF);
    height: 70em;
    width: 100%; /* check if this line is necessary */ 
    margin-top: 250px; /* restyle this on breakpoints*/
}

.card-container {
    width: 100%; /* check if this is necessary at all */ 
}

.education-section h2 {
    color: #FFF;
    font-size: 2.6rem;
    font-style: bold;
    margin-bottom: 1.25em;
    padding-top: 5em;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(4, auto);
    grid-row-gap: 3em; 
    width: 100%; /* check if this line is necessary */ 
    justify-items: center; 
}

.card {
    background: #ffffff;
    width: 90%; 
    height: 15.25em;
    border-radius: 1.87em; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.288);
    position: relative;
    perspective: 1000px; 
}

.card .card-front,
.card .card-back {
    position: absolute;
    width: 100%; /* check if this line is necessary */ 
    height: 100%; /* check if this line is necessary */ 
    transition: opacity 0.6s ease; 
    border-radius: 1.87em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.card .card-front {
    background: #ffffff;
    opacity: 1;  
    z-index: 2;  
}

.card .card-icon {
    position: absolute;
    top: 8%;  
    left: 6%; 
    fill: rgba(153, 153, 153, 0.18);     
    height: 1rem;   
    width: 1rem;    
    z-index: 4;
}

.card .card-front img {
    width: 10em;
    height: auto;
}

.card .card-back {
    background: #f8f8f8;
    opacity: 0; 
    z-index: 1;  
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 1.87em; 
}

#card1-gwu-cs .card-back {
    background: linear-gradient(to bottom, #36d1dc, #5b86e5);
}

#card2-gwu-ixd .card-back {
    background: linear-gradient(to bottom, #36d1dc, #5b86e5);
}

#card3-udemy .card-back {
    background: linear-gradient(to bottom, #36d1dc, #5b86e5);
}

#card4-coursera .card-back {
    background: linear-gradient(to bottom, #36d1dc, #5b86e5);
}

.card-back h3,
.card-back p {
    text-align: center; 
}

.card:hover .card-front {
    opacity: 0;  
}

.card:hover .card-back {
    opacity: 1;  
}

.flipped .card-front {
    opacity: 0;
}

.flipped .card-back {
    opacity: 1;
}

.resume-button {
    margin: 3.9em 0;
    border: 2px solid #00A0C3;
    border-radius: 1.87em;
    background-color: #FFF;
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.resume-button a {
    text-decoration: none;
    font-size: 0.9rem;
    font-style: bold;
    letter-spacing: 1.5px;
    color: #00A0C3;
    display: flex; 
    align-items: center; 
    padding: 0.8em 1.4em; 
    gap: 0.7em; 
}

.resume-button svg {
    fill: #00A0C3; 
    width: 1em;
}

.resume-button:hover,
.resume-button:focus,
.resume-button:active {
    background-color: #00A0C3;
    border-color: #00A0C3;
}

.resume-button:hover a,
.resume-button:focus a,
.resume-button:active a {
    color: #FFF;
}

.resume-button:hover svg,
.resume-button:focus svg,
.resume-button:active svg {
    fill: #FFF;
}

/* BOTTOM SECTION */ 
.bottom-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin-top: 15em;
}

.cta-box {
    position: absolute;
    background-color: #002C35;
    border: 1px solid #002C35;
    border-radius: 1.15em;
    height: 19em;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center; 
    text-align: center;
    z-index: 3; 
    padding: 1.25em;
    grid-template-columns: none;
    margin-bottom: 2.5em;
    bottom: 440px; 
    gap: 1.25em; 
}

.cta-box h3 {
    color: #FFF;
    font-size: 1.4rem;
    font-weight: bold;
    grid-column: unset; 
    margin-top: 0.5em;
}

.cta-box p {
    color: #FFF;
    font-weight: lighter;
    font-size: 0.9rem;
    line-height: 1.6rem;
    padding: 0.62em 0.62em; 
    grid-column: unset;
}

.cta-box a {
    text-decoration: none;
    font-size: 0.96rem;
    font-weight: lighter;
    letter-spacing: 1.5px;
    color: #FFF;
    text-align: center;
    display: flex; 
    align-items: center; 
    padding: 1em 2.5em; 
    gap: 0.8em; 
}

.cta-box svg {
    width: 1em; 
    padding-bottom: 2px;
}

.cta-box button  {
    border: 2px solid #16ecc5; 
    border-radius: 30px;
    background-color: #002C35;
    grid-column: unset; 
    justify-self: center;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    margin-bottom: 0.5em;
}

.cta-box button:hover,
.cta-box button:focus,
.cta-box button:active {
    background-color: #FFF;
    border-color: #FFF;
}

.cta-box button a:hover,
.cta-box button a:focus,
.cta-box button a:active {
    color: #002C35;
    font: bold;
}

.cta-box button a:hover svg,
.cta-box button a:focus svg,
.cta-box button a:active svg{
    fill: #002C35;
}

footer {
    background-color: #00A0C3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    height: 40em;
}

footer div {
    margin-top: 11em;
    margin-bottom: 4em;
}

#footer-logo {
    align-self: center;
}

#logo2-wrapper {
    scale: 1.7;
}

#logo2 {
    height: 100%;
    width: auto;
}

.social-links-container {
    display: flex;
    justify-content: space-around;
    margin: 2em 0em;
}

.social-links {
    border: 1.7px solid #FFF; 
    background-color: #2F2F2F; 
    border-radius: 3.12em;
    margin: 0em 0.65em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.37em;
    height: 2.37em;
    padding: 0.62em;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.social-links svg {
    width: 100%; /* check if this line is necessary */ 
    height: 100%; /* check if this line is necessary */ 
    vertical-align: middle;
    scale: 1.1;
}

.social-links:hover,
.social-links:focus,
.social-links:active {
    transform: scale(1.1);
    background-color: #FFF;
}

.social-links:hover svg,
.social-links:focus svg,
.social-links:active svg{
    transform: scale(1.1);
    fill: #2F2F2F;
}

a.social-links:link, a.social-links:visited, a.social-links:hover, a.social-links:focus, a.social-links:active {
    text-decoration: none;
}

footer h4 {
    color: #FFF;
    font-size: 0.9rem;
    font-weight: lighter;
    width: 18em;
    text-align: center;
}




/* MEDIA QUERIES */ 
/* Styles for larger mobile screens */
@media screen and (min-width: 426px) {
    
    #navigation h3 a {
        font-size: 1rem;
    }

    #codepen-section {
        width: 87% !important;
    }

    .card .card-icon {
        top: 9%;  
        left: 6%;   
        height: 1.1rem;   
        width: 1.1rem;    
    }

    .frontend-box, 
    .uiux-box {
        width: 87%;
    }

    .card {
        width: 87%;
    }

    .cta-box {
        width: 87%;
    }

    .cta-box a {
        font-size: 0.96rem;
        padding: 0.9em 2.5em; 
    }

    .card-back h3 {
        padding: 0 1em;
        padding-bottom: 0.2em;
    }

    .card:hover .card-front {
        opacity: 0;
    }

    .card:hover .card-back {
        opacity: 1;
    }

    .social-links-container {
        margin: 2.3em 0em;
    }
}

/* Styles for tablets */
@media screen and (min-width: 768px) {
    
    .navbar {
        padding-top: 3em;
    }

    #logo {
        width: 20%; 
    }

    #navigation h3 a {
        font-size: 1.5rem;
    }

    #contact-nav {
        border: solid #00A0C3 0.1rem;
    }

    .welcome-section {
        margin-top: 70px;
    }

    .welcome-section h1 {
        font-size: 1.8rem;
    }

    .welcome-section h2 {
        font-size: 1.4rem;
    } 

    .personal-description h2 {
        font-size: 2.3rem;
    }

    .personal-description p {
        font-size: 1.6rem;
    }

    .icon-container {
        width: 6em; 
        height: 6em; 
    }

    .icon {
        width: 60%;
    }

    .frontend-box,
    .uiux-box {
        top: -255px;
    }

    .frontend-box h3,
    .uiux-box h3 { 
        font-size: 1.3rem;
    }

    .frontend-box h4, 
    .uiux-box h4 {
        font-size: 1.17rem;
    }

    .frontend-box p, 
    .uiux-box p {
        font-size: 1.17rem;
    }

    .frontend-box ul,
    .uiux-box ul {
        font-size: 1.17rem;
    }

    #codepen-section {
        margin-top: -75px !important;
        width: 87% !important;
    }

    .card .card-icon {
        top: 10%;  
        left: 4%;   
        height: 1.4rem;   
        width: 1.4rem;    
    }

    .resume-button {
        border-radius: 30px;
    }

    .resume-button a {
        font-size: 1.1rem;
        padding: 0.9em 2.5em;
    }

    .cta-box {
        margin-top: 6em;
    }

    .cta-box h3 {
        font-size: 1.6rem;
    }

    .cta-box p {
        font-size: 1.1rem;
        padding: 1em 0.62em;
    }

    .cta-box a {
        font-size: 1.1rem;
    }

    .cta-box svg {
        width: 1.2em;
    }

    footer h4 {
        font-size: 1.2rem;
        width: 40%;
    }

    .social-links {
        width: 2.57em;
        height: 2.57em;
        margin: 0 1em;
    }
}

/* Styles for small laptops */
@media screen and (min-width: 992px) {
    
    .navbar {
        padding-top: 5em;
    }

    #navigation h3 a {
        font-size: 1.65rem;
    }

    #projects-nav {
        display: contents;
    }

    #navigation {
        gap: 1.5em; 
    }

    .welcome-section {
        margin-top: 100px;
    }

    .welcome-section h1 {
        font-size: 2.2rem;
    }

    .welcome-section h2 {
        font-size: 1.8rem;
    }
    
    .welcome-section img {
        width: 35%;
    }

    .personal-description h2 {
        font-size: 2.6rem;
    }

    .personal-description p {
        font-size: 1.9rem;
    }

    .skills-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: stretch;
        width: 90%;
        margin: auto;
        top: -285px;
    }

    .frontend-box,
    .uiux-box {
        width: 100%;
        min-height: 0;
        position: static;
        min-height: 100%;
        /* height: 1300px; */
        margin: 0;
        justify-content: space-evenly;
    }

    .frontend-box {
        border-radius: 14px 0px 0px 14px;
        border-right-width: -0.1em;
        box-shadow: -10px 0px 25px -5px rgba(0, 0, 0, 0.288);
    }
    
    .uiux-box {
        border-radius: 0px 14px 14px 0px;
        border-left-width: 0em;
        box-shadow: 10px 0px 25px -5px rgba(0, 0, 0, 0.288);
    }

    .icon-container {
        width: 6.5em;
        height: 6.5em;
        margin-bottom: 3em;
    }

    #codepen-section {
        top: -70px;
    }

    .education-section {
        margin-top: 80px;
        height: fit-content;
    }

    .card-container {
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: repeat(2, auto);
        width: 90%;
    }

    .resume-button {
        margin-top: 5em;
    }

    .cta-box {
        bottom: 590px;
    }

    .cta-box h3 {
        font-size: 1.8rem;
    }

    .cta-box p {
        font-size: 1.3rem;
        padding: 1em 0.62em;
    }

    .cta-box a {
        font-size: 1.3rem;
    }

    footer {
        height: 50em;
    }

    #logo2-wrapper{
        scale: 2;
    }

    #footer-logo {
        /* margin: 3em 0; */
        margin-top: 3em;
        margin-bottom: 1.5em;
    }

    footer h4 {
        font-size: 1.5rem;
        width: 40%;
    }

    .social-links-container {
        margin: 2.9em 0;
    }

    .social-links {
        width: 3.4em;
        height: 3.4em;
        margin: 0 1.2em;
    } 

    .social-links svg {
        scale: 0.9;
    }
} 

/* Styles for desktops */
@media screen and (min-width: 1200px) {
    
    .navbar {
        padding-top: 6em;
    }

    #logo {
        width: 18%;
    }

    #navigation h3 a {
        font-size: 1.7rem;
    }

    #navigation {
        gap: 1.6em; 
    }

    .welcome-section {
        margin-top: 120px;
    }

    .welcome-section h1 {
        font-size: 2.3rem;
    }

    .welcome-section h2 {
        font-size: 1.9rem;
    }

    .personal-description h2 {
        font-size: 2.8rem;
    }

    .personal-description p {
        font-size: 2.1rem;
        padding: 1.6em;
    }

    .skills-container {
        top: -335px;
    }

    .frontend-box h3, 
    .uiux-box h3 {
        font-size: 1.7rem;
    }

    .frontend-box p, 
    .uiux-box p {
        font-size: 1.3rem;
        line-height: 1.6em;
    }

    .frontend-box h4, 
    .uiux-box h4 {
        font-size: 1.5rem;
    }

    .frontend-box ul,
    .uiux-box ul {
        font-size: 1.5rem;
    }

    .icon-container {
        width: 6.7em;
        height: 6.7em;
        margin: 3em 0;
    }
        
    #codepen-section {
        height: 40em !important;
        margin-bottom: 7em !important;
        width: 90% !important;
    }

    #codepen-section .game-section .item {
        width: 350px !important;
        height: 430px !important;
    }

    #codepen-section h2 {
        font-size: 1.5rem !important;
        gap: 2 !important;
    }

    #codepen-section .line-title {
        width: 40% !important;
        margin-left: 20px !important;
    }

    .education-section {
        margin-top: 1em;
    }

    .card {
        height: 16em;
        width: 90%;
    }

    .card-icon {
        top: 9%;
        left: 4.7%;
    }

    .resume-button {
        border-radius: 34px;
    }

    .resume-button a {
        padding: 1em 2.6em;
        font-size: 1.15rem;
    }

    .social-links-container {
        margin: 3.2em 0;
    }
}

/* Styles for larger laptops */
@media screen and (min-width: 1440px) {

    .navbar {
        padding-top: 8em;
    }

    #logo {
        width: 19%;
    }

    #navigation h3 a {
        font-size: 2.1rem;
    }

    #navigation {
        gap: 1.7em; 
    }

    .welcome-section {
        margin-top: 160px;
    }

    .welcome-section h1 {
        font-size: 2.8rem;
    }

    .welcome-section h2 {
        font-size: 2.3rem;
        margin-bottom: 2.4em;
    }

    .personal-description h2 {
        font-size: 3.1rem;
    }

    .personal-description p {
        font-size: 2.4rem;
        padding: 1.7em;
    }

    .skills-container {
        top: -400px;
    }

    .frontend-box h3, 
    .uiux-box h3 {
        font-size: 1.9rem;
    }

    .frontend-box p, 
    .uiux-box p {
        font-size: 1.5rem;
        line-height: 1.7em;
    }

    .frontend-box h4, 
    .uiux-box h4 {
        font-size: 1.7rem;
    }

    .frontend-box ul,
    .uiux-box ul {
        font-size: 1.7rem;
    }

    .icon-container {
        width: 6.9em;
        height: 6.9em;
        margin: 3em 0;
    }
        
    #codepen-section {
        height: 50em !important;
        margin-bottom: 7em !important;
        width: 90% !important;
    }

    #codepen-section .game-section .item {
        width: 450px !important;
        height: 530px !important;
    }

    #codepen-section .game-section .item-desc { 
        padding: 0 24px 18px !important;
    }

    #codepen-section h2 {
        font-size: 1.8rem !important;
        margin: 40px 0 !important;
    }

    #codepen-section h3 {
        font-size: 32px !important;
    }

    #codepen-section p {
        font-size: 22px !important;
    }

    #codepen-section .line-title {
        width: 40% !important;
        margin-left: 20px !important;
    }

    .education-section {
        margin-top: 1em;
    }

    .card {
        height: 19em;
        width: 90%;
    }

    .card .card-icon {
        top: 9.5%;
        left: 5%;
    }

    .card .card-front img {
        width: 14em;
        height: auto;
    }

    .card-back h3 {
        font-size: 1.3rem;
    }

    .card-back p {
        font-size: 1.3rem;
    }

    .resume-button {
        border-radius: 38px;
        margin-top: 7em;
    }

    .resume-button a {
        padding: 1em 2.6em;
        font-size: 1.4rem;
    }

    .cta-box {
        display: grid;
        grid-template-columns: 0.4fr 0.4fr 0.4fr;
        bottom: 640px;
    }

    .cta-box h3 {
        margin: 0 1em;
        font-size: 2.2rem;
        line-height: 3.3rem;
    }

    .cta-box p {
        font-size: 1.5rem;
        line-height: 1.6em;
    }

    .cta-box button {
        border-radius: 38px;
        margin: 0 1.3em;
    }

    .cta-box a {
        font-size: 1.6rem;
        padding: 0.9em 1.7em;
    }
    
    .cta-box svg {
        width: 1.05em;
        height: auto;
    }

    footer {
        height: 55em;
    }

    #logo2-wrapper {
        scale: 2.5;
    }

    footer h4 {
        font-size: 1.8rem;
        width: 35%
    }
    .social-links-container {
        margin: 3.2em 0;
        width: 40%;
    }

    .social-links {
        width: 4em;
        height: 4em;
        margin: 0 1.4em;
    } 

    .social-links svg {
        scale: 0.9;
    }
}

/* 1.25 dpr */
/*  
@media 
(-webkit-min-device-pixel-ratio: 1.25), 
(min-resolution: 120dpi){ 
    /* Retina-specific stuff here */
    /*
    .navbar {
        padding-top: 6em;
    }

    #logo {
        width: 10%;
    }

    #navigation h3 a {
        font-size: 1.3rem;
    }

    #navigation {
        gap: 1.7em; 
    }

    .welcome-section {
        margin-top: 130px;
    }

    .welcome-section h1 {
        font-size: 2.2rem;
    }

    .welcome-section h2 {
        font-size: 1.6rem;
        margin-bottom: 2.6em;
    }

    .welcome-section img {
        width: 20%; /*check if this is okay because it's an image */ /*
        height: auto;
    }
    
    .personal-description h2 {
        font-size: 3.1rem;
    }


    .digital-art img {
        width: 67%;
        height: auto;
        margin-top: 3em;
    }

    .personal-description h2 {
        font-size: 2.2rem;
        margin-top: 2em;
    }

    .personal-description p {
        font-size: 1.5rem;
        padding: 1.5em 8em;
    }

    .personal-description hr {
        display: none;
    }

    .skills-container {
        top: -400px;
        width: 68%;
    }

    .frontend-box h3, 
    .uiux-box h3 {
        font-size: 1.3rem;
    }

    .frontend-box p, 
    .uiux-box p {
        font-size: 1rem;
        line-height: 1.9em;
    }

    .frontend-box h4, 
    .uiux-box h4 {
        font-size: 1.1rem;
    }

    .frontend-box ul,
    .uiux-box ul {
        font-size: 1.1rem;
    }

    .icon-container {
        width: 6.2em;
        height: 6.2em;
        margin: 3em 0;
    }

    .description-skills-section {
        height: 2050px;
    }
        
    #codepen-section {
        height: 40em !important;
        margin-bottom: 7em !important;
        width: 69% !important;
    }

    #codepen-section .game-section .item {
        width: 300px !important;
        height: 380px !important;
    }

    #codepen-section .game-section .item-desc { 
        padding: 0 24px 18px !important;
    }

    #codepen-section h2 {
        font-size: 1.3rem !important;
        margin: 30px 0 !important;
    }

    #codepen-section h3 {
        font-size: 20px !important;
    }

    #codepen-section p {
        font-size: 15px !important;
    }

    #codepen-section .line-title {
        width: 40% !important;
        margin-left: 20px !important;
    }

    .education-section {
        margin-top: 1em;
    }

    .card-container {
        width: 75%;
        gap: 4em;
        column-gap: 0;
    }

    .card {
        height: 16em;
        width: 85%;
    }

    .card .card-icon {
        top: 9.5%;
        left: 5%;
    }

    .card .card-front img {
        width: 12em;
        height: auto;
    }

    .card-back h3 {
        font-size: 1.1rem;
    }

    .card-back p {
        font-size: 1.1rem;
    }

    .resume-button {
        margin-top: 6em;
    }

    .resume-button a {
        padding: 0.9em 2.5em;
        font-size: 1rem;
    }

    .cta-box {
        bottom: 700px;
        height: 15em;
    }

    .cta-box h3 {
        margin: 0 1em;
        font-size: 1.8rem;
        line-height: 3rem;
    }

    .cta-box p {
        font-size: 1.1rem;
        line-height: 1.6em;
    }

    .cta-box button {
        border-radius: 38px;
        margin: 0 1.3em;
    }

    .cta-box a {
        font-size: 1.2rem;
        padding: 0.9em 1.7em;
    }
    
    .cta-box svg {
        width: 0.9em;
        height: auto;
    }

    footer {
        height: 55em;
    }

    #logo2-wrapper {
        scale: 1.8;
    }

    footer h4 {
        font-size: 1.2rem;
        width: 23%
    }
    .social-links-container {
        margin: 4em 0;
        width: 27%;
    }

    .social-links {
        width: 2.7em;
        height: 2.7em;
        margin: 0;
    } 

    .social-links svg {
        scale: 1.2;
    }
    
}

/* 1.3 dpr */
@media 
(-webkit-min-device-pixel-ratio: 1.3), 
(min-resolution: 124.8dpi){ 
    /* Retina-specific stuff here */
    
}

/* 1.5 dpr */
@media 
(-webkit-min-device-pixel-ratio: 1.5), 
(min-resolution: 144dpi){ 
    /* Retina-specific stuff here */

}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    /* Retina-specific stuff here */
}