/* MOBILE FIRST APPROACH: Assuming a starting width of 375px */ 
/* GLOBAL */ 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    font-family: 'Jost', sans-serif;
}

/* NAVBAR */ 
.navbar {
    display: flex;
    width: 100%; 
    height: fit-content;
    justify-content: space-between;
    align-items: center; 
    padding: 1.7em 0; 
}

.logo-wrapper {
    width: 5em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.8em;
} 

.logo-svg {
    width: 3.3rem;
    height: auto;
}

.hamburger {
    flex-direction: column;
    justify-content: space-around;
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
    background-color: #FFF;
    margin-right: 0.8em;
}

.hamburger div {
    width: 1rem;
    height: 0.07rem;
    background: #000;
    margin: 5px 0;
}

.nav-links {
    display: flex;
    align-items: flex-end;
    gap: 1em; 
    display: none;
}

.link{
    text-decoration: none;
    font-weight: 100;
    font-size: 0.5rem; 
    padding: 0.35em 0.95em; 
    display: block;
    margin: 1em 0;
}

#contact-nav {
    color: #00A0C3;
    border: solid #00A0C3 1px;
    border-radius: 1.87em;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

#contact-nav:hover, 
#contact-nav:focus,
#contact-nav:active {
    background-color: #00A0C3;
    color: #FFF;
    border-color: #00A0C3;
}

#projects-nav {
    color: #000; 
    display: none;
}

.whitespace {
    padding: 1.4em;
}
/* INITIAL AREA */ 
.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%; /* check if this line is necessary */ 
    padding: 1em;
    margin: 0 auto;
}

.landing-title {
    text-align: center;
    font-size: 1.8rem; 
    font-weight: 500;
    margin-bottom: 1.5rem; 
}

.landing-subtitle {
    text-align: center;
    font-size: 1.1rem; 
    line-height: 1.7;
    font-weight: 300; 
    width: 90%;
    margin-bottom: 1.5rem;
}

.avatar {
    width: 12em; 
    height: auto;
    margin: 2em 0;
}

.digital-art-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.digital-art {
    width: 80%;
}

/* ABOUT ME SECTION */ 
.description-skills-section {
    /* height: fit-content; */
}

.personal-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(to top, #00A0C3, #007090);
    padding: 1em;
} 

.personal-description-container {
    padding: 4em 0 12em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pd-title {
    color: #fff;
    font-size: 1.3rem; 
    font-weight: 500;
    width: 80%;
    padding-bottom: 1em;
}

.pd-text {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 180%;
    width: 90%;
}

.skills-container {
    position: relative; /* was relative */ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    top: -150px;
    margin-bottom: -150px;
}

.frontend-box,
.uiux-box {
    display: flex;
    flex-direction: column;
    align-items: center; 
    align-self: center;
    text-align: center; 
    border: 1px solid rgba(124, 124, 124, 0.2);
    padding: 3em 2em 1em 2em; 
    width: 90%; 
    height: fit-content;
    background-color: #FFF; 
}

.frontend-box {
    border-radius: 14px 14px 0 0;
    border-bottom: 0.5px;
}

.uiux-box {
    border-radius: 0 0 14px 14px;
}

.icon-container {
    width: 4.4em; 
    height: 4.4em; 
    border-radius: 50%; 
    position: relative; 
    background: #16ecc5; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 50%; 
    height: auto;
    fill: rgb(46, 46, 46); 
}

.frontend-box hr,
.uiux-box hr {
    border-color: black 1px; 
    width: 80%;
    margin: 2.9em 0;
}

.frontend-box h3, 
.uiux-box h3 {
    padding: 1.3em 0;
    font-size: 1.3rem;
    font-weight: 700;
}

.frontend-box h4, 
.uiux-box h4 {
    color: #10b294; 
    font-size: 1rem;
    font-weight: 300;
    padding: 0.5em 0;
}

.frontend-box p, 
.uiux-box p {
    font-size: 1.1rem;
    font-weight: 300;
}

.frontend-box ul,
.uiux-box ul {
    list-style-type: none; 
    line-height: 2.25em;
    font-size: 1rem;
    font-weight: 300;
}

.frontend-box ul :nth-child(10),
.uiux-box ul :nth-child(10){
    margin-bottom: 2em;
}

/* PROJECTS SECTION */ 
#codepen-section {
    position: relative !important;
    width: 90% !important;
    border-radius: 14px !important;
    margin: 6em auto !important;
}

#codepen-section .item-desc h3 {
    font-weight: 500;
}

#codepen-section .item-desc p {
    font-size: 1.2rem !important;
    line-height: 1em !important;
    padding-bottom: 0.5em !important;
}

.projects-cards-divider {
    height: 1px;
    width: 100%;
    margin-bottom: 6em;
    border: none;
    background-color: rgba(124, 124, 124, 0.2);
}

/* EDUCATION SECTION */ 
.education-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #FFF 0%, #cecaca 55%, #FFF 100%);
    width: 100%; /* check if this line is necessary */ 
}

.education-section h2 {
    color: #FFF;
    font-size: 2.6rem;
    font-style: bold;
    margin-bottom: 1.25em;
    padding-top: 5em;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(4, auto);
    grid-row-gap: 3em; 
    width: 100%; /* check if this line is necessary */ 
    justify-items: center; 
}

.card {
    background: #ffffff;
    width: 90%; 
    height: 15.25em;
    border-radius: 14px;
    position: relative;
    perspective: 1000px; 
}

.card .card-front,
.card .card-back {
    position: absolute;
    width: 100%; /* check if this line is necessary */ 
    height: 100%; /* check if this line is necessary */ 
    transition: opacity 0.6s ease; 
    border: 1px solid rgba(124, 124, 124, 0.2);
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.card .card-front {
    background: #ffffff;
    opacity: 1;  
    z-index: 2;  
}

.card .card-icon {
    position: absolute;
    top: 8%;  
    left: 6%; 
    fill: rgba(153, 153, 153, 0.18);     
    height: 1rem;   
    width: 1rem;    
    z-index: 4;
}

.card .card-front img {
    width: 10em;
    height: auto;
}

.card .card-back {
    background: #f8f8f8;
    opacity: 0; 
    z-index: 1;  
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 1.87em; 
}

#card1-gwu-cs .card-back {
    background: linear-gradient(to bottom, #36d1dc, #5b86e5);
    background: #002C35;
}

#card2-gwu-ixd .card-back {
    background: linear-gradient(to bottom, #36d1dc, #5b86e5);
    background: #002C35;
}

#card3-udemy .card-back {
    background: linear-gradient(to bottom, #36d1dc, #5b86e5);
    background: #002C35;
}   

#card4-coursera .card-back {
    background: #002C35;
}

.card-back h3,
.card-back p {
    text-align: center; 
    color: #FFF;
    font-size: 1rem;
}

.card-back hr {
    width: 80%; 
    border: none;
    height: 1px;
    background-color: #FFF;
    margin: 1em 0;
}

.card:hover .card-front {
    opacity: 0;  
}

.card:hover .card-back {
    opacity: 1;  
}

.flipped .card-front {
    opacity: 0;
}

.flipped .card-back {
    opacity: 1;
}

.resume-button {
    margin: 3.9em 0;
    border: 1px solid rgba(103, 102, 102, 0.456);
    border-radius: 38px;
    background-color: #FFF;
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    transition: background 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.resume-button a {
    text-decoration: none;
    font-size: 0.7rem;
    font-style: bold;
    /* letter-spacing: 1.5px; */
    color: rgba(103, 102, 102, 0.456);
    display: flex; 
    align-items: center; 
    padding: 0.9em 1.4em; 
    gap: 0.7em; 
}

.resume-button svg {
    width: 0.9em;
    height: auto;
    padding-bottom: 2px;
    fill: rgba(103, 102, 102, 0.456);
}

.resume-button:hover,
.resume-button:focus,
.resume-button:active {
    background: #002C35;
    border-color: #002C35;
}

.resume-button:hover a,
.resume-button:focus a,
.resume-button:active a {
    color: #FFF;
}

.resume-button:hover svg,
.resume-button:focus svg,
.resume-button:active svg {
    fill: #FFF;
}

/* BOTTOM SECTION */ 
.bottom-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin-top: 10em;
}

.cta-box {
    position: absolute;
    background-color: #002C35;
    border: 1px solid #002C35;
    border-radius: 14px;
    height: 19em;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center; 
    text-align: center;
    z-index: 3; 
    padding: 1.25em;
    grid-template-columns: none;
    margin-bottom: 2.5em;
    bottom: 26em; 
    gap: 1.25em; 
}

.cta-box h3 {
    color: #FFF;
    font-size: 1.3rem;
    font-weight: bold;
    grid-column: unset; 
    margin-top: 0.5em;
}

.cta-box p {
    color: #FFF;
    font-weight: lighter;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.6rem;
    padding: 0.62em 0.62em; 
    grid-column: unset;
}

.cta-box a {
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 300;
    letter-spacing: 1.5px;
    color: #FFF;
    text-align: center;
    display: flex; 
    align-items: center; 
    padding: 0.8em 2.3em; 
    gap: 0.8em; 
}

.cta-box svg {
    width: 1em; 
    padding-bottom: 2px;
}

.cta-box button  {
    border: 1px solid #16ecc5; 
    border-radius: 30px;
    background-color: #002C35;
    grid-column: unset; 
    justify-self: center;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    margin-bottom: 0.5em;
}

.cta-box button:hover,
.cta-box button:focus,
.cta-box button:active {
    background-color: #FFF;
    border-color: #FFF;
}

.cta-box button a:hover,
.cta-box button a:focus,
.cta-box button a:active {
    color: #002C35;
    font: bold;
}

.cta-box button a:hover svg,
.cta-box button a:focus svg,
.cta-box button a:active svg{
    fill: #002C35;
}

footer {
    background-color: #00A0C3;
    z-index: 1;
}



.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12em;
    margin-bottom: 3em;
}



#logo2-wrapper {
    margin: 3em 0;
}

#logo2 {
    height: 100%;
    width: auto;
}

.social-links-container {
    display: flex;
    justify-content: space-around;
    margin: 2em 0em;
}

.social-links {
    border: 1.7px solid #FFF; 
    background-color: #2F2F2F; 
    border-radius: 3.12em;
    margin: 0em 0.65em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.27em;
    height: 2.27em;
    padding: 0.62em;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.social-links svg {
    width: 100%; /* check if this line is necessary */ 
    height: 100%; /* check if this line is necessary */ 
    vertical-align: middle;
    scale: 1.1;
}

.social-links:hover,
.social-links:focus,
.social-links:active {
    transform: scale(1.1);
    background-color: #FFF;
}

.social-links:hover svg,
.social-links:focus svg,
.social-links:active svg{
    transform: scale(1.1);
    fill: #2F2F2F;
}

a.social-links:link, a.social-links:visited, a.social-links:hover, a.social-links:focus, a.social-links:active {
    text-decoration: none;
}

footer h4 {
    color: rgba(255, 255, 255, 0.901);
    font-size: 1rem;
    font-weight: lighter;
    width: 50%;
    text-align: center;
    padding: 0.3em 0;
}




/* MEDIA QUERIES */ 
/* Codepen styles for main css */
@media screen and (min-width: 375px) {

    #codepen-section .game-section {
        padding: 1.5em 1em !important;
    }

    #codepen-section .game-section .item {
        width: 250px !important;
        height: 320px !important;
    }

    #codepen-section h2 {
        font-size: 1.2rem !important;
        gap: 2 !important;
        padding-bottom: 17px !important;
        margin-bottom: 20px !important;
    }

    #codepen-section a {
        font-size: 0.8rem !important;
    }

    #codepen-section h3 {
        font-size: 1.2rem !important;
        line-height: 1 !important;
    }

    #codepen-section .line-title {
        width: 40% !important;
        margin-left: 20px !important;
    }

    #codepen-section .owl-theme .owl-dots .owl-dot span {
        width: 9px !important;
        height: 9px !important;
    }

    .cta-box {
        height: 16em;
    }

    #logo2-wrapper {
        scale: 1.3;
    }
}

/* Styles for larger mobile screens */
@media screen and (min-width: 426px) {
    
    .navbar {
        padding-top: 0.6em; 
    }

    #navigation h3 a {
        font-size: 0.55rem;
    }

    #navigation {
        gap: 0.5em;
    }

    #projects-nav {
        display: contents;
    }

    #logo img{
        width: 4em;
    }

    .welcome-section img {
        width: 25%;
    }

    .personal-description h2 {
        font-size: 1.1rem;
        margin-top: 0.3em;
    }

    .personal-description p {
        padding-left: 4em;
        padding-right: 4em;
        font-size: 0.8rem;
    }

    .personal-description hr {
        display: none;
    }

    .frontend-box, 
    .uiux-box {
        width: 87%;
    }

    .frontend-box {
        top: -200px;
    }

    .icon-container {
        width: 4.8em; 
        height: 4.8em; 
    }

    .frontend-box h3,
    .uiux-box h3 {
        font-size: 1rem;
    }

    .frontend-box p,
    .uiux-box p {
        font-size: 0.8rem;
        line-height: 1.8em;
    }

    .frontend-box h4,
    .uiux-box h4 {
        font-size: 0.9rem;
    }

    .frontend-box ul,
    .uiux-box ul {
        font-size: 0.9rem;
    }

    #codepen-section {
        width: 87% !important;
    }

    #codepen-section .game-section {
        padding: 1.5em 1em !important;
    }

    #codepen-section .game-section .item {
        width: 250px !important;
        height: 320px !important;
    }

    #codepen-section h2 {
        font-size: 1.2rem !important;
        gap: 2 !important;
        padding-bottom: 17px !important;
        margin-bottom: 20px !important;
    }

    #codepen-section a {
        font-size: 0.8rem !important;
    }

    #codepen-section h3 {
        font-size: 1.2rem !important;
        line-height: 1 !important;
    }

    #codepen-section .line-title {
        width: 40% !important;
        margin-left: 20px !important;
    }

    #codepen-section .owl-theme .owl-dots .owl-dot span {
        width: 9px !important;
        height: 9px !important;
    }

    .education-section {
        height: 73em;
        margin-top: 205px;
    }

    .card .card-icon {
        top: 9%;  
        left: 6%;   
        height: 1.1rem;   
        width: 1.1rem;    
    }

    .card {
        width: 87%;
    }

    .cta-box {
        width: 87%;
    }

    .cta-box a {
        font-size: 0.96rem;
        padding: 0.9em 2.5em; 
    }

    .card-back h3 {
        padding: 0 1em;
        padding-bottom: 0.2em;
    }

    .card:hover .card-front {
        opacity: 0;
    }

    .card:hover .card-back {
        opacity: 1;
    }

    .resume-button {
        border: 1.5px solid rgba(140, 140, 140, 0.456);
    }

    .resume-button a {
        font-size: 0.6rem;
    }

    .cta-box h3 {
        font-size: 1.2rem;
    }

    .cta-box button {
        border: 1.5px solid #16ecc5;
    }
    
    .cta-box a {
        font-size: 0.8rem;
    }

    #logo2-wrapper {
        scale: 1.5;
    }
    
    .social-links-container {
        margin: 2.3em 0em;
    }
}

@media screen and (min-width: 597px) {
    
    .navbar {
        padding-top: 0.6em;
    }

    #logo img {
        width: 5.7em;
    }

    #navigation {
        gap: 1.1em;
    }

    #navigation h3 a {
        font-size: 0.9rem;
    }

    #contact-nav {
        border-width: 1.45px;
    }

    .welcome-section h1 {
        font-size: 1.3rem;
    }

    .welcome-section h2 {
        font-size: 1rem;
    }

    .welcome-section img {
        margin-top: 3em;
    }

    .digital-art img {
        margin-top: 3em;
    }

    .personal-description h2 {
        font-size: 1.2rem;
    }

    .personal-description p {
        padding-left: 4.5em;
        padding-right: 4.5em;
        font-size: 0.9rem;
    }

    .frontend-box {
        top: -270px;
    }

    .resume-button a {
        font-size: 0.7rem;
    }
}

/* Styles for tablets */
@media screen and (min-width: 768px) {
    
    .navbar {
        padding-top: 1.8em;
    }

    #logo img {
        width: 7em; 
    }

    #navigation h3 a {
        font-size: 1rem;
    }

    #projects-nav {
        display: contents;
    }

    #contact-nav {
        border: solid #00A0C3 0.1rem;
    }

    .welcome-section {
        margin-top: 2.3em;
    }

    .welcome-section h1 {
        font-size: 1.4rem;
        margin-top: 0.5em;
    }

    .welcome-section h2 {
        font-size: 1.1rem;
    } 

    .welcome-section img {
        width: 25%;
    }

    .personal-description h2 {
        font-size: 1.6rem;
        margin-top: 1em;
    }

    .personal-description p {
        font-size: 1.1rem;
        padding-left: 5em;
        padding-right: 5em;
    }

    .personal-description hr {
        display: none;
    }

    .icon-container {
        width: 4.5em; 
        height: 4.5em; 
    }

    .icon {
        width: 60%;
    }

    .frontend-box,
    .uiux-box {
        top: -270px;
    }

    .frontend-box h3,
    .uiux-box h3 { 
        font-size: 1.1rem;
    }

    .frontend-box h4, 
    .uiux-box h4 {
        font-size: 1rem;
    }

    .frontend-box p, 
    .uiux-box p {
        font-size: 1rem;
        line-height: 2;
    }

    .frontend-box ul,
    .uiux-box ul {
        font-size: 1rem;
    }

    #codepen-section {
        margin-top: -150px !important;
        width: 87% !important;
    }

    .education-section {
        height: 80em;
        margin-top: 10em;
    }

    .card .card-icon {
        top: 10%;  
        left: 4%;   
        height: 1.4rem;   
        width: 1.4rem;    
    }

    .resume-button {
        border-radius: 30px;
    }

    .resume-button a {
        font-size: 0.7rem;
        padding: 0.9em 2.5em;
    }

    .cta-box {
        margin-top: 6em;
    }

    .cta-box h3 {
        font-size: 1.6rem;
    }

    .cta-box p {
        font-size: 1.1rem;
        padding: 1em 0.62em;
    }

    .cta-box a {
        font-size: 1.1rem;
    }

    .cta-box svg {
        width: 1.2em;
    }

    footer h4 {
        font-size: 1.2rem;
        width: 40%;
    }

    .social-links {
        width: 2.57em;
        height: 2.57em;
        margin: 0 1em;
    }
}

/* Small changes for in between tablet and small laptops */ 
@media screen and (min-width: 880px) {

    #navigation {
        gap: 1.2em;
    }
    .welcome-section img {
        width: 24%;
        margin-top: 2.5em;
    }

    .digital-art img {
        margin-top: 2.5em;
    }

    .frontend-box {
        top: -295px;
    }

    .resume-button a {
        font-size: 0.8rem;
    }

    .cta-box {
        height: 14.5em;
        bottom: 450px;
    }

    .cta-box h3 {
        font-size: 1.4rem;
    }

    .cta-box p {
        font-size: 0.9rem;
    }

    .cta-box a {
        font-size: 0.9rem;
    }

    #logo2-wrapper {
        scale: 1.3;
    }

    footer h4 {
        font-size: 1rem;
        width: 26%;
    }
    
    .social-links {
        width: 2.5em;
        height: 2.5em;
    }
}

/* Styles for small laptops */
@media screen and (min-width: 992px) {
    
    .navbar {
        padding-top: 1.2em;
    }

    #logo img {
        width: 7em;
    }

    #navigation h3 a {
        font-size: 1.08rem;
    }

    #projects-nav {
        display: contents;
    }

    #navigation {
        gap: 1.5em; 
    }

    .welcome-section {
        margin-top: 2.3em;
    }

    .welcome-section h1 {
        font-size: 1.7rem;
    }

    .welcome-section h2 {
        font-size: 1.35rem;
    }
    
    .welcome-section img {
        width: 18%;
        margin-top: 2.7em;
    }

    .digital-art img {
        margin-top: 2.7em;
    }

    .personal-description h2 {
        font-size: 1.6rem;
    }

    .personal-description p {
        font-size: 1.2rem;
        padding-left: 6.5em;
        padding-right: 6.5em;
    }

    .skills-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: stretch;
        width: 90%;
        margin: auto;
        top: -285px;
        margin-bottom: 6em;
    }

    .frontend-box,
    .uiux-box {
        width: 100%;
        min-height: 0;
        position: static;
        min-height: 100%;
        margin: 0;
    }

    .frontend-box p,
    .uiux-box p {
        font-size: 0.88rem;
        line-height: 2.1;
    }

    .frontend-box h4,
    .uiux-box h4 {
        font-size: 0.9rem;
    }

    .frontend-box ul,
    .uiux-box ul {
        font-size: 0.9rem;
    }

    .frontend-box {
        border-radius: 14px 0px 0px 14px;
        border-right-width: -0.1em;
        box-shadow: -10px 0px 25px -5px rgba(0, 0, 0, 0.288);
    }
    
    .uiux-box {
        border-radius: 0px 14px 14px 0px;
        border-left-width: 0em;
        box-shadow: 10px 0px 25px -5px rgba(0, 0, 0, 0.288);
    }

    .icon-container {
        width: 5em;
        height: 5em;
        margin-bottom: 3em;
    }

    #codepen-section {
        top: -70px;
        width: 90% !important;
    }

    #codepen-section p {
        padding-bottom: 0.5em;
    }

    .education-section {
        margin-top: 80px;
        height: fit-content;
    }

    .card-container {
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: repeat(2, auto);
        width: 97%;
    }

    .card-back h3,
    .card-back p
    {
        font-size: 0.92rem;
    }

    .resume-button {
        margin-top: 5em;
    }

    .cta-box {
        display: grid;
        grid-template-columns: 0.4fr 0.4fr 0.4fr;
        bottom: 570px;
        height: 11em;
    }

    .cta-box h3 {
        margin: 0 1em;
        font-size: 1.4rem;
        line-height: 2.2rem;
    }

    .cta-box p {
        font-size: 0.9rem;
        line-height: 1.7em;
    }

    .cta-box button {
        border-radius: 38px;
        margin: 0 1.3em;
    }

    .cta-box a {
        font-size: 0.9rem;
        padding: 0.8em 1.7em;
        letter-spacing: 1; /* Move to main */
    }
    
    .cta-box svg {
        width: 1.05em;
        height: auto;
    }

    footer {
        height: 45em;
    }

    #logo2-wrapper{
        scale: 1.6;
    }

    #footer-logo {
        /* margin: 3em 0; */
        margin-top: 3em;
        margin-bottom: 1.5em;
    }

    footer h4 {
        font-size: 1.1rem;
        width: 30%;
    }

    .social-links-container {
        margin: 2.8em 0;
    }

    .social-links {
        width: 2.4em;
        height: 2.4em;
        margin: 0 1.2em;
    } 

    .social-links svg {
        scale: 1;
    }
} 

@media screen and (min-width: 1080px) {
    
    .skills-container {
        top: -310px;
    }

    #codepen-section {
        top: -90px;
    }
}

/* Styles for desktops */
@media screen and (min-width: 1200px) {
    
    .navbar {
        padding-top: 1.2em;
    }

    #logo img {
        width: 7.3em;
    }

    #navigation h3 a {
        font-size: 1.09rem;
    }

    #navigation {
        gap: 1.5em; 
    }

    .welcome-section {
        margin-top: 2.3em;
    }

    .welcome-section h1 {
        font-size: 1.7rem;
    }

    .welcome-section h2 {
        font-size: 1.35rem;
    }

    .welcome-section img {
        margin-top: 3.3em;
    }

    .digital-art img {
        margin-top: 3.3em;
    }

    .personal-description h2 {
        font-size: 1.95rem;
    }

    .personal-description p {
        font-size: 1.3rem;
        padding-left: 10em;
        padding-right: 10em;
        line-height: 2.2;
    }

    .skills-container {
        top: -400px;
    }

    .icon-container {
        width: 5.3em;
        height: 5.3em;
        margin-bottom: 3em;
    }

    .frontend-box h3, 
    .uiux-box h3 {
        font-size: 1.3rem;
    }

    .frontend-box p,
    .uiux-box p {
        font-size: 0.95rem;
        line-height: 2.3;
    }

    .frontend-box h4,
    .uiux-box h4 {
        font-size: 1rem;
    }

    .frontend-box ul,
    .uiux-box ul {
        font-size: 1rem;
    }
        
    #codepen-section {
        height: 38em !important;
        margin-bottom: 7em !important;
        width: 90% !important;
        top: -120px;
    }

    #codepen-section .game-section .item {
        width: 290px !important;
        height: 390px !important;
    }

    #codepen-section .game-section .item-desc { 
        padding: 0 24px 18px !important;
    }

    #codepen-section h2 {
        font-size: 1.3rem !important;
        margin: 17px 0 !important;
    }

    #codepen-section h3 {
        font-size: 20px !important;
    }

    #codepen-section p {
        line-height: 1.5 !important;
    }

    #codepen-section a {
        font-size: 0.9rem !important;
    }

    #codepen-section .line-title {
        width: 40% !important;
        margin-left: 20px !important;
        
    }

    .education-section {
        margin-top: 1em;
    }

    .card {
        height: 16em;
        width: 90%;
    }

    .card-icon {
        top: 9%;
        left: 4.7%;
    }

    .resume-button {
        border-radius: 34px;
    }

    .resume-button a {
        padding: 1em 2.6em;
        font-size: 0.9rem;
    }

    .social-links-container {
        margin: 3.2em 0;
    }
}

/* Styles for larger laptops */
@media screen and (min-width: 1440px) {

    .navbar {
        padding-top: 2em;
    }

    #logo {
        width: 45em;
    }

    #logo img {
        width: 7.5em;
    }

    #navigation h3 a {
        font-size: 1.2rem;
    }

    #navigation {
        gap: 1.7em; 
    }

    .welcome-section {
        margin-top: 2em;
    }

    .welcome-section h1 {
        font-size: 2.3rem;
        width: 75%;
        margin-bottom: 0.5em;
    }

    .welcome-section h2 {
        font-size: 1.6rem;
        margin-bottom: 2.4em;
    }

    .welcome-section img {
        width: 17em;
        margin-bottom: 1em;
    }

    .personal-description h2 {
        font-size: 1.8rem;
        font-weight: bold;
        margin-top: 2em;
    }

    .personal-description p {
        font-size: 1.2rem;
        padding: 1em 15em 0em 15em;
        margin-bottom: 2em;
    }

    .personal-description hr {
        display: none;
    }

    .skills-container {
        top: -420px;
        width: 70%;
    }

    .frontend-box,
    .uiux-box {
        width: 100%;
    }

    .frontend-box h3, 
    .uiux-box h3 {
        font-size: 1.3rem;
    }

    .frontend-box p, 
    .uiux-box p {
        font-size: 1rem;
        line-height: 1.7em;
    }

    .frontend-box h4, 
    .uiux-box h4 {
        font-size: 0.9rem;
    }

    .frontend-box ul,
    .uiux-box ul {
        font-size: 0.9rem;
    }

    .icon-container {
        width: 5em;
        height: 5em;
        margin: 3em 0; 
    }

    .icon {
        width: 50%;
    }
        
    #codepen-section {
        top: -125px !important;
        height: 37em !important;
        margin-bottom: 7em !important;
        width: 70% !important;
    }

    #codepen-section .game-section .item {
        width: 300px !important;
        height: 370px !important;
    }

    #codepen-section .game-section .item-desc { 
        padding: 0 24px 18px !important;
    }

    #codepen-section h2 {
        font-size: 1.4rem !important;
        margin: 17px 0 !important;
    }

    #codepen-section h3 {
        font-size: 20px !important;
    }

    #codepen-section p {
        font-size: 14px !important;
    }

    #codepen-section .line-title {
        width: 40% !important;
        margin-left: 20px !important;
    }

    .card-container {
        width: 74%;
    }

    .education-section {
        margin-top: 1em;
    }

    .card {
        height: 19em;
        width: 90%;
    }

    .card .card-icon {
        top: 9.5%;
        left: 5%;
    }

    .card .card-front img {
        width: 12em;
        height: auto;
    }

    .card-back h3 {
        font-size: 1rem;
    }

    .card-back p {
        font-size: 1rem;
    }

    .resume-button {
        border-radius: 30px; /* Move to main */ 
        border-color: rgba(140, 140, 140, 0.456); /* Move to main */ 
    }

    .resume-button a {
        padding: 1em 2.6em;
        font-size: 0.8rem;
        letter-spacing: normal; /* Move to main */ 
        font-weight: 600; /* Move to main */ 
        color: rgb(140, 140, 140); /* Move to main */ 
    }

    .resume-button svg {
        fill: rgb(140, 140, 140); /* Move to main */ 
        margin-bottom: 0.2em; /* Move to main */ 
    }

    .cta-box {
        display: grid;
        grid-template-columns: 0.4fr 0.4fr 0.4fr;
        bottom: 550px;
        height: 11em;
    }

    .cta-box h3 {
        margin: 0 1em;
        font-size: 1.6rem;
        line-height: 2.2rem;
    }

    .cta-box p {
        font-size: 1rem;
        line-height: 1.7em;
    }

    .cta-box button {
        border-radius: 38px;
        margin: 0 1.3em;
    }

    .cta-box a {
        font-size: 1.1rem;
        padding: 0.8em 1.7em;
        letter-spacing: 1; /* Move to main */
    }
    
    .cta-box svg {
        width: 1.05em;
        height: auto;
    }

    footer {
        height: 43em;
    }

    #logo2-wrapper {
        scale: 1.8;
    }

    footer h4 {
        font-size: 1.1rem;
        width: 22%;
    }

    .social-links-container {
        margin: 3.2em 0;
        width: 27%;
    }

    .social-links {
        width: 2.4em;
        height: 2.4em;
        margin: 0 1.2em;
    } 

    .social-links svg {
        scale: 1.1;
    }
}



/* 1.3 dpr */
@media 
(-webkit-min-device-pixel-ratio: 1.3), 
(min-resolution: 124.8dpi){ 
    /* Retina-specific stuff here */
    
}

/* 1.5 dpr */
@media 
(-webkit-min-device-pixel-ratio: 1.5), 
(min-resolution: 144dpi){ 
    /* Retina-specific stuff here */

}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    /* Retina-specific stuff here */
}